/* Main CSS Page */
/* Get Favicon Working and make a white background plus black text for blog */
/* have to ask kirk about creating that CNAME file, also got to use import for this css page */
/* add a comment section */

@import url(http://fonts.googleapis.com/css?family=Galdeano);

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	background-size: cover;
	-moz-background-size: cover;
  	-webkit-background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	background-color: #222;
	background-image: url(background.png);
	padding-bottom: 200px;
}

a:link, a:visited, a:active {
	color: #fff;
	text-decoration: none;
	font-weight: 900;
}

a:hover {
	color: #00BFFF;
}

h1, h2, h3, h4, h5, h6 {
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
}

#archive {
	position: absolute;
	top: 115px;
	left: 145px;
	color: #fff;
	font-family:  "Galdeano","Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 2em;
	text-shadow: 0 7px 0 #444;
}

#blog {
	position: absolute;
	top: 115px;
	left: 50px;
	color: #fff;
	font-family:  "Galdeano","Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 2em;
	text-shadow: 0 7px 0 #444;
}

#contact {
	position: absolute;
	top: 115px;
	left: 290px;
	color: #fff;
	font-family:  "Galdeano","Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 2em;
	text-shadow: 0 7px 0 #444;
}

#front-title {
	position: absolute;
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -140px;
	color: #fff;
	font-size: 6em;
	letter-spacing: 2px;
	text-shadow: 0 10px 0 #444;
}

#containerbox {
	-moz-border-radius: 15px;
	moz-box-shadow: 5px 5px 5px #87CEEB;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px #87CEEB;
	background-color: #ffa500;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #5F9EA0;
	color: #222;
	font-size: 1em;
	line-height: 3em;
	height: 200px;
	width: 400px;
	padding: 20px;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.8;
	margin: -155px 0 0 -215px;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
}

#contactbox {
	-moz-border-radius: 15px;
	moz-box-shadow: 10px 10px 10px #666;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: 10px 10px 10px #666;
	background-color: #ffa500;
	border-radius: 15px;
	box-shadow: 10px 10px 10px #666;
	color: #5F9EA0;
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	line-height: 2em;
	text-align: left;
	height: 410px;
	width: 660px;
	padding: 20px;
	overflow-y: scroll;
	position: absolute;
	opacity: 0.9;
	border-style: outset;
	border-width: 3px;
	border-color: #000;
	top: 50%;
	left: 50%;
	margin: -225px 0 0 -330px;
	z-index: 1;
}

#homebox-contact {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #000;
	border-radius: 15px;
	color: #fff;
	font-family: "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	line-height: 0px;
	font-weight: 800;
	height: 50px;
	width: 200px;
	border-style: outset;
	border-width: 3px;
	border-color: #fff;
	text-align: center;
	position: absolute;
	top: 5%;
	left: 2%;
	opacity: 1;
}

/* have to fix this to make it work #homebox-contact a:hover {
	border-style: inset;
} */
/* Need to get small little picture up in top left corner */

#homebox-contact h2 {
	margin-top: 25px;
}

#contactbox p {
	margin-left: 20px;
	margin-top: 20px;
	line-height: 3em;
	font-weight: 900;
	color: #003F87;
}

#contactbox h1 {
	color: #003F87;
	font-size: 3em;
	letter-spacing: 2px;
	margin-left: 20px;
	margin-top: 10px;
}

#archivebox {
	-moz-border-radius: 15px;
	box-shadow: 10px 10px 10px #666;
	-webkit-border-radius: 15px;
	box-shadow: 10px 10px 10px #666;
	background-color: #ffa500;
	border-radius: 15px;
	box-shadow: 10px 10px 10px #666;
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	line-height: 2em;
	text-align: left;
	width: 660px;
	padding: 20px;
	position: relative;
	/* overflow-y: scroll; Not needed as it's relative now */
	opacity: 0.8;
	top: 50%;
	left: 50%;
	margin: 8% 0 0 -330px;
	z-index: 1;
	border-style: outset;
	border-width: 3px;
	border-color: #000;
}

#homebox-archive {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #000;
	border-radius: 15px;
	color: #fff;
	font-family: "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	line-height: 0px;
	font-weight: 800;
	height: 50px;
	width: 200px;
	border-style: outset;
	border-width: 3px;
	border-color: #fff;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 2%;
	opacity: 1;
}

/* have to fix this to make it work #homebox-contact a:hover {
	border-style: inset;
} */
/* Need to get small little picture up in top left corner */

/* Want to change color of hover link and original color of link
.blogpost {
}

.blogpost a:link, a:visited, a:active {
	color: #fff;
	text-decoration: none;
	font-weight: #5F9EA0;
}

.blogpost a:hover {
	color: #00BFFF;
}

*/

/* Have to fix placement of home */
#homebox-archive h2 {
	margin-top: 25px;
}

#archivebox p {
	margin-left: 20px;
	margin-top: 20px;
	line-height: 1em;
	font-weight: 900;
	color: #fff;
}

#archivebox h3 {
	margin-left: 20px;
	margin-top: 20px;
	line-height: 1em;
	font-weight: 900;
	color: #003F87;
}

#archivebox h3 a:link, a:visited, a:active {
	color: #003F87;
}

#archivebox h3 a:visited, a:active {
	color: #003F87;
}

#archivebox h3 a:active {
	color: #003F87;
}

#homebox-archive h2 a:link, a:visited, a:active {
	color: #fff;
}

#archivebox h1 {
	color: #003F87;
	font-size: 3em;
	letter-spacing: 2px;
	margin-left: 20px;
	margin-top: 10px;
}

/* Have to make it work so it resizes to the size of the text using jquery, not overflow */
/* want to have a way of doing tab other than suing &nbsp &nbsp &nbsp &nbsp &nbsp */
#blogbox-text {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #fff;
	border-radius: 15px;
	color: #000;
	border-style: outset;
	border-width: 3px;
	border-color: #000;
	font-size: 1em;
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	text-align: left;
	width: 600px;
	/* figure out padding */
	padding: 20px;
	left: 10px;
	position: relative;
	opacity: 1;
	z-index: -1;
}

#blogbox {
	-moz-border-radius: 15px;
	moz-box-shadow: 10px 10px 10px #666;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: 10px 10px 10px #666;
	background-color: #ffa500;
	border-radius: 15px;
	box-shadow: 10px 10px 10px #666;
	color: #fff;
	font-size: 1em;
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	text-align: left;
	width: 660px;
	/* figure out padding */
	padding: 30px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.8;
	overflow-y: scroll;
	top: 65px;
	left: 390px;
	border-style: outset;
	border-width: 3px;
	border-color: #000;
	z-index: 1;
}

/* Really want to make it so that the box changes to inset when hovered over */
#homebox-blog {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #000;
	border-radius: 15px;
	color: #fff;
	font-family: "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	line-height: 0px;
	font-weight: 800;
	height: 50px;
	width: 200px;
	border-style: outset;
	border-width: 3px;
	border-color: #fff;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 2%;
	opacity: 1;
	z-index: 1;
}

#homebox-blog h2 {
	margin-top: 25px;
}

#previousbox-blog {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #000;
	border-radius: 15px;
	color: #fff;
	font-family: "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	line-height: 0px;
	font-weight: 800;
	height: 50px;
	width: 200px;
	border-style: outset;
	border-width: 3px;
	border-color: #fff;
	text-align: center;
	position: absolute;
	top: 20%;
	left: 2%;
	opacity: 1;
	z-index: 1;
}

#previousbox-blog h2 {
	margin: 25px;
}

#nextbox-blog {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #000;
	border-radius: 15px;
	color: #fff;
	font-family: "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	line-height: 0px;
	font-weight: 800;
	height: 50px;
	width: 200px;
	border-style: outset;
	border-width: 3px;
	border-color: #fff;
	text-align: center;
	position: absolute;
	top: 20%;
	left: 67%%;
	opacity: 1;
	z-index: 1;
}

#nextbox-blog h2 {
	margin-top: 25px;
}

#archivebox-blog {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #000;
	border-radius: 15px;
	color: #fff;
	font-family: "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	line-height: 0px;
	font-weight: 800;
	height: 50px;
	width: 50px;
	border-style: outset;
	border-width: 3px;
	border-color: #fff;
	text-align: center;
	position: absolute;
	top: 20%;
	left: 46%;
	opacity: 1;
	z-index: 1;
}

#archivebox-blog h2 {
	margin-top: 25px;
}

.blog-title {
	margin-top: 40px;
	margin-left: 20px;
	line-height: 1em;
	font-weight: 900;
	font-size: 3em;
	margin-left: 20px;
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	color: #000;

}

.blog-date {
	font-weight: 900;
	font-size: 2em;
	margin-left: 20px;
	margin-top: 30px;
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	color: #000;
}

.blog-text {
	line-height: 2em;
	font-weight: 900;
	font-size: 1em;
	margin-left: 20px;
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	color: #000;
}

#cc-contact {
	position: absolute;
	left: 285px;
	top: 35px;
}

.cc-archive-blog {
	position: absolute;
	left: 540px;
	top: 25px;
}

.share-buttons {
	position: absolute;
	left: 250px;
	top: 25px;
}

/* Not working, content still flows into header */
.header {
	position: relative;
	height: 100px;
	width: 660px;
	background-color: #ffa500;
	z-index: 1;
}

/* Not being used atm *?
.commentbox {
	-moz-border-radius: 15px;
	moz-box-shadow: 10px 10px 10px #666;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: 10px 10px 10px #666;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 10px 10px 10px #666;
	color: #000;
	font-size: 1em;
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	text-align: left;
	/* figure out padding */
	padding: 30px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	margin-top: 20px;
	opacity: 0.9;
	border-style: outset;
	border-width: 3px;
	border-color: #000;
	z-index: 1;
}


.content {

}

.footer {
	position: relative;
	margin-top: 35px;
	height: 100px;
	width: 660px;
	background-color: #ffa500;
	z-index: 1;
}

/* Haven't used yet */
#inner {
	width: 690px;
	margin: 50px auto;
	position: relative;
	font-weight: 800;
}
