/* Main CSS Page */

@import url(http://fonts.googleapis.com/css?family=Galdeano);

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	background-size: cover;
	-moz-background-size: cover;
  	-webkit-background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	background-color: #222;
	background-image: url(background.png);
}

a:link, a:visited, a:active {
	color: #fff;
	text-decoration: none;
	font-weight: 900;
}

a:hover {
	color: #00BFFF;
}

h1, h2, h3, h4, h5, h6 {
	font-family:  "Galdeano", "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
}

#contact {
	position: fixed;
	top: 295px;
	left: 605px;
	color: #fff;
	font-family:  "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 2em;
	text-shadow: 0 7px 0 #444;
}

#blog {
	position: fixed;
	top: 295px;
	left: 795px;
	color: #fff;
	font-family:  "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 2em;
	text-shadow: 0 7px 0 #444;
}

#front-title {
	position: fixed;
	font-family:  "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	top: 165px;
	left: 575px;
	color: #fff;
	font-size: 6em;
	letter-spacing: 2px;
	text-shadow: 0 10px 0 #444;
}

#contact-title {
	position: fixed;
	font-family:  "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	top: 130px;
	left: 440px;
	color: #5F9EA0;
	font-size: 3em;
	letter-spacing: 2px;
}

#home-contact {
	position: fixed;
	top: 75px;
	left: 440px;
	color: #fff;
	font-family:  "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 2em;
	font-weight: 800;
}

#p-contact {
	position: fixed;
	top: 220px;
	left: 440px;
	color: #5F9EA0;
	font-family:  "Avenir", "Glasgow", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
}

#containerbox {
	-moz-border-radius: 15px;
	moz-box-shadow: 5px 5px 5px #87CEEB;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px #87CEEB;
	background-color: #ffa500;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #5F9EA0;
	color: #222;
	font-size: 1em;
	line-height: 3em;
	height: 200px;
	width: 400px;
	padding: 20px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.8;
	top: 165px;
	left: 520px;
	z-index: 1;
}

#contactbox {
	-moz-border-radius: 15px;
	moz-box-shadow: 5px 5px 5px #87CEEB;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px #87CEEB;
	background-color: #ffa500;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #5F9EA0;
	color: #222;
	font-size: 1em;
	line-height: 3em;
	height: 400px;
	width: 650px;
	padding: 20px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.8;
	top: 75px;
	left: 400px;
	z-index: 1;
}

#inner {
	width: 690px;
	margin: 50px auto;
	position: relative;
}
